{{ define "header" }}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Linguistic Category Model</title>
	<meta name="description"
        content="A web application to apply the Linguistic Category Model to documents.">

	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/print.css">

  <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
  {{ range .js }}
    <script src="/static/js/{{ . }}.js"></script>
  {{ end }}
</head>
<body>
  {{ if .User }}
    <div id="user_content">
      <p>USER CONTENT</p>
  {{ else }}
    <div id="guest_content">
      <p>GUEST CONTENT</p>
  {{ end }}
{{ end }}
