{{ define "new-password" }}
{{ template "header" . }}

<h2>Enter key from email</h2>

<p>An email has been sent to <strong>{{ .NoAuthUser.Email }}</strong>
   containing a special key that should be entered below.</p>

<form id="new-password"
      method="post"
      action="/newpassword-save">
  <input type="hidden" name="UserId" value="{{ .NoAuthUser.Id }}" />

  <p class="resend">If you didn't get an email, try
     <a href="javascript:void(0);">re-sending it</a>.
     <span class="resend-status hide"></span>
  </p>
  <div id="form_error" class="hide">
    <h4>Error!</h4>
    <div class="form_error_message"></div>
  </div>

  <div class="form_justtext">
    <label for="email">E-mail:</label>
    <p>{{ .NoAuthUser.Email }}</p>
  </div>

  <div class="form_input">
    <label for="Key">Security key:</label>
    <input type="text" id="Key" name="Key" value="" />
  </div>

  <div class="form_input">
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" value="" />
  </div>

  <div class="form_input">
    <label for="PasswordConfirm">Confirm Password:</label>
    <input type="password" id="PasswordConfirm" name="PasswordConfirm"
           value="" />
  </div>

  <input type="submit" value="Set Password" />
</form>

{{ template "footer" . }}
{{ end }}
