{{ define "header" }}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>		<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>		<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

  {{ if .Title }}
    <title>{{ .Title }} :: Linguistic Category Model</title>
  {{ else }}
    <title>Linguistic Category Model</title>
  {{ end }}

	<meta name="description"
        content="A web application to apply the Linguistic Category Model to documents.">

	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/print.css">

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
  <script src="/static/js/jquery.form.js"></script>

  {{ if .User }}
    <script>
      var User = {
        "Id": {{ jsonify .User.Id }},
        "Name": {{ jsonify .User.Name }}
      };
    </script>
  {{ end }}

  <script src="/static/js/util.js"></script>

  {{ range .js }}
    <script src="/static/js/{{ . }}.js"></script>
  {{ end }}
  <script src="/static/js/session-ping.js"></script>
</head>
<body>
  {{ if .User }}
    <div id="user_content">
  {{ else }}
    <div id="guest_content">
  {{ end }}
{{ end }}


{{ define "footer" }}
  </div>

  {{ if .User }}
    <div id="user_nav">
      <div id="nav">
        {{ join " &raquo; " .Nav | html }}
      </div>
      <div id="misc">
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div id="user_panel"><div>
      {{ join ", " (split " " "Andrew Richard Gallant") }} Panel
    </div></div>

    <div id="flash_error">
      <h4>Error!</h4>
      <div class="flash_message"></div>
      <p><a href="javascript:void(0);" class="flash_dismiss">Dismiss</a></p>
    </div>

    <div id="flash_success">
      <p>
        <strong>Sucess!</strong>
        <span class="flash_message"></span>
        <a href="javascript:void(0);" class="flash_dismiss">Dismiss</a>
      </p>
    </div>
  {{ end }}
</body>
</html>
{{ end }}


{{ define "bit_nav" }}
{{ if .NavItem.Link }}
  <a href="{{ .NavItem.Link }}">{{ .NavItem.Name }}</a>
{{ else }}
  {{ .NavItem.Name }}
{{ end }}
{{ end }}
