{{ define "projects" }}
{{ template "header" . }}

<div id="my-projects">
  {{ template "bit-myprojects" . }}
</div>

<h3><a href="#" id="show-add-project">Add a new project</a></h3>

<form id="add-project"
      method="post"
      action="/add-project"
      class="hide">

  <div id="form_error" class="hide">
    <h4>Error!</h4>
    <div class="form_error_message"></div>
  </div>

  <div class="form_input">
    <label for="DisplayName">Project name:</label>
    <input type="text" id="DisplayName" name="DisplayName" value="" />

    <input type="submit" value="Add project" />
    <input type="button" id="add-project-cancel" value="Cancel" />
  </div>

</form>

{{ template "footer" . }}
{{ end }}
