{{ define "projects" }}
{{ template "header" . }}

<form id="add-project"
      method="post"
      action="{{ url "project-add" }}"
  >

  <div class="form_input">
    <label for="DisplayName"><h3>Add a new project:</h3></label>
    <input type="text" id="DisplayName" name="DisplayName" value="" />

    <input type="submit" value="Add project" />
  </div>
</form>

<div id="my-projects">
  {{ template "bit-myprojects" . }}
</div>

{{ template "footer" . }}
{{ end }}

{{ define "projects_delete" }}
{{ template "header" . }}

<h3>Are you sure you want to delete
    <strong class="attn">{{ .Project.Display }}</strong>?</h3>

{{ if .Message }}
  <p class="error">{{ .Message }}</p>
{{ end }}

<form method="post" action="{{ url "project-delete" .Project.Name }}">
  <div class="form_input">
    <label for="DisplayName">Please type the name of the project:</label>
    <input type="text" id="DisplayName" name="DisplayName" value="" />

    <input type="submit" value="Delete" />
  </div>
</form>

{{ template "footer" . }}
{{ end }}
