/*
 * Pandora:
 * #091d42
 * #396a92
 * #9ab4cb
 * #ecedf2
 * #fdfdfd
 */


html {
  height: 100%;
  background: #fdfdfd;
}

body {
  background: #fff
  height: 100%;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  margin: 20px 0 5px 0;
}

p {
  margin: 0 0 7px 0;
}

a, a:visited {
  color: #4578AB;
  font-weight: bold;
}

a:hover {
  color: #AB8043;
}

.hide {
  display: none;
}

.success {
  font-weight: bold;
  color: #0b0;
}

.pending {
  font-weight: bold;
}

.herror, .error {
  font-weight: bold;
  color: #b00;
}

.herror {
  display: none;
}

#user_content {
  margin: 0 0 0 200px;
  position: relative;
  top: 40px;
}

#user_nav {
  background: #de662c;
  color: #fdfdfd;
  border-bottom: 1px solid #888;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
}

  #user_nav div {
    margin: 8px 0 0 8px;
  }

  #user_nav #nav {
    float: left;
  }

  #user_nav #misc {
    float: right;
    margin-right: 8px;
  }

  #user_nav a, #user_panel a {
    color: #fdfdfd;
  }

  #user_nav a:hover, #user_panel a:hover {
    color: #000;
  }


#user_panel {
  background: #396a92;
  color: #fdfdfd;
  position: fixed;
  top: 41px;
  width: 170px;
  height: 100%;
  border-right: 1px solid #888;
}

  #user_panel div {
    margin: 10px;
  }

#flash_success {
  display: none;
  background: #90ee90;
  border: 2px solid #888;
  padding: 8px;
  position: fixed;
  top: 50px;
  right: 20px;
  /* width: 500px; */
}

  #flash_success p {
    margin: 0;
  }

#flash_error {
  display: none;
  background: #ffffcc;
  border: 2px solid #888;
  padding: 8px;
  position: fixed;
  top: 50px;
  left: 200px;
  width: 500px;
}

  #flash_error h4 {
    margin: 0 0 10px 0;
    font-size: 115%;
    color: #b00;
  }

#form_error {
  background: #ffffcc;
  border: 2px solid #888;
  padding: 8px;
  width: 500px;
  margin-bottom: 10px;
}

  #form_error h4 {
    margin: 0 0 5px 0;
    font-size: 115%;
    color: #b00;
  }

#add-project {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  border: 2px solid #888;
  background: #fdfdfd;
  white-space: nowrap;
}

ul.project-list {
  list-style-type: none;
  margin: 0 0 0 3px;
  padding: 0;
}

  ul.project-list li {
    margin: 0;
    padding: 0;
  }

    ul.project-list li p {
      margin: 0;
    }

    ul.project-list dl {
      margin: 0 0 20px 5px;
      padding: 0;
      font-size: 80%;
    }

      ul.project-list dl dt {
        font-weight: bold;
        width: 110px;
        float: left;
        display: block;
      }

      ul.project-list dl dd {
        display: block;
        margin: 0 0 0 110px;
      }

          ul.project-list .manage-form {
            position: absolute;
            top: 0;
            left: 0;
            padding: 6px;
            border: 2px solid #888;
            background: #fdfdfd;
          }

          ul.project-list .manage-form ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

            ul.project-list .manage-form ul li {
              margin: 0;
              padding: 0;
            }
