html {
  height: 100%;
}

body {
  background: #fff
  height: 100%;
}

a, a:visited {
  color: #4578AB;
  font-weight: bold;
}

a:hover {
  color: #AB8043;
}

.success {
  font-weight: bold;
  color: #0b0;
}

.hide {
  display: none;
}

.herror, .error {
  font-weight: bold;
  color: #b00;
}

.herror {
  display: none;
}
